@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
